extends layout
extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project","dropdown_menu","inverse")
    +nav_item("Colenso Project") Home
    +nav_item_dropdown("#")(label="Database")
      +nav_item("/fileList", "active") View
  .container
    h1 Colenso Database
  .container
        each val in list
          li: a(href = "/viewFile?file=/" + val)
            !{val}
