extends layout
extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project","dropdown_menu","inverse")
    +nav_item("/") Home
    +nav_item_dropdown("#")(label="Database")
      +nav_item("/fileList") View
      +nav_item("/searchByString") Search By String
      +nav_item("/searchByXQuery", "active") Search By XQuery
  .container
    h1 Search By XQuery:
    br
    p| Search documents using XQuery
  .container
    form(name = "simple", action = "/searchXQueryResult", method = "get")
      input("text", "query", "Search...", "", name = "query")
      +submit("Search")
