extends layout
extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project","dropdown_menu","inverse")
    +nav_item("/") Home
    +nav_item_dropdown("#")(label="Database")
      +nav_item("fileList") View
      +nav_item("search") Search
  .container
    h2 Search Results For '#{searchString}':

  .container
    each file in files
      li
        a(href = "/view?letter=" + file) #{file}
