extends layout
extends ../node_modules/jade-bootstrap/_bootstrap

block body
  +navbar("Colenso Project","dropdown_menu","inverse")
    +nav_item("/") Home
    +nav_item_dropdown("#")(label="Database")
      +nav_item("/fileList") View
      +nav_item("/uploadFile") Upload File
      +nav_item("/searchByString") Search By String
      +nav_item("/searchByXQuery") Search By XQuery
  .container
    <a href="/viewRaw" class="btn btn-info" role="button">View Raw TEI</a>
    br
    br
    a(href="/downloadFile?file=" + fileName).btn-info.btn Download XML
    br
  .container
    br
    +tab-list(["Read", "Edit"],0)
      +tab("Read", "active")
          p !{file}
    +tab("Edit")
      form(action = "/editComplete?file=" + path, method = "post")
        button(type = "submit").btn.btn-default Save Changes
        textarea.form-control(name = 'editedFile', rows = 50, cols = 100) #{file}
